@font-face {
  font-family: SF-UI;
  src: url("../font/SF-UI-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: SF-UI-Heavy;
  src: url("../font/SF-UI-Display-Heavy.otf") format("opentype");
}
@font-face {
  font-family: MaisonNeue;
  src: url("../font/MaisonNeue-Mono.ttf") format("opentype");
}

body{
  margin: 0px;
  background-color: black;
  color:black;
  font-style:
  overflow: hidden;
  font-family: 'SF-UI',monaco, Consolas, 'Lucida Console', monospace;
}

.c3 svg{
  overflow: visible !important;
  font-family: 'MaisonNeue',monaco, Consolas, 'Lucida Console', monospace;
}

#bulletin-container{
  background-color: white;
  padding-top: 77px;
  padding-bottom: 70px;
  width:512px;
  margin-left:0px;
  margin-top:0px;
  overflow: hidden;
  line-height: 1.2;
  font-family: 'SF-UI',monaco, Consolas, 'Lucida Console', monospace;
}

span{
  display: inline-block;
}

.main-title{
  font-size: 81px;
  line-height: 1.1;
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  text-align:center;
  margin-bottom: 38px;
  display: block;
}

.main-report{
  font-family:  'MaisonNeue', monaco, Consolas, 'Lucida Console', monospace;
  margin-bottom: 38px;
  font-size: 23px;
  text-align: center;
  display: block;
}

.main-subtitle{
  font-size: 23px;
  padding-top:18px;
  padding-bottom:18px;
  margin-bottom: 46px;
  background-color: black;
  color:white;
  text-align: center;
  font-family:  'MaisonNeue', monaco, Consolas, 'Lucida Console', monospace;
  display: block;
}

.main-info{
  font-size: 30px;
  margin-bottom: 46px;
  display: block;
}


/*MARGINS*/
p, ul{
  -webkit-margin-before: 10px;
-webkit-margin-after: 10px;
}

.section{
  padding-top:40px;
  padding-bottom: 40px;
}

.section-quote{
  width: 90%;
  margin-top:40px;
  margin-bottom: 20px;
}

.quote-author{
  margin-top: 20px;
}

.quote-text{
}

.section-title{
}

.section-subtitle{
//  margin-bottom: 10px;
}

.section-chapter{
    margin-top:40px;
    display: block;
}

.section-abstract{
    margin-top:40px;
}

.section-treemap{
  margin-top: 20px;
}

.section-graph{
  margin-top: 20px;
}

.section-graph-title{
  margin-top: 40px;
}

.section-graph-subtitle{
  margin-top: 0px;
}

.section-graph-abstract{
  margin-top: 20px;
}

.graph-legend svg{
  margin-right: 5px;
}

.graph-legends{
  margin-top:20px;
}

.graph-legend{
  margin-right: 10px;
}


/***********SECTION*************/

.section{
  border-top: 3px solid black;
  font-size: 22px;
}

.section-sources{
  display: block;
}
.source{
  display: block;
}

.section-quote{
  width: 90%;
}

.quote-author{
  font-size:22px;
  width: 100%;
  text-align: right;
}

.quote-text{
  line-height: 1.1;
  font-size:48px;
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  display: block;
}

.section-title{
  font-size: 40px;
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  font-weight: bold;
  display: block;
}

.section-subtitle{
  font-size: 40px;
}

.section-body{
}

.section-keywords{
  font-size: 20px;
  font-family: Courier, Helvetica, serif !important;
}

/*********GRAPH**************/

.section-treemap{
  display: block;
  font-family: 'MaisonNeue',monaco, Consolas, 'Lucida Console', monospace !important;
  font-size: 20px;
  width:100%;
  display: table;
}

.section-treemap div{
  display: inline;
}

.section-graph{
  font-family: 'MaisonNeue',monaco, Consolas, 'Lucida Console', monospace !important;
  font-size: 20px;
  width:100%;
  display: table;
  overflow: visible !important;
}

.section-graph g{
  overflow: hidden !important;
}

text{
  fill:#000000;
}

.section-treemap rect{
  stroke:rgb(0,0,0)!important;
}

.section-graph-title{
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  display: block;
}

.section-graph-subtitle{
  display: block;
  font-style: italic;
}

.section-graph-abstract{
  display: block;
}

.rotated{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

#xml-select {
    position: absolute;
    top: 10px;
    width: 300px;
    font-size: 15px;
    height:30px;
    right: 120px;
    bottom: 0;
  //  left: 512px;
  z-index: 100;
  background-color: white;
  color: black;
   border-radius: 0 !important;
   border:1px solid white;
}

#editor {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 512px;
}

button{
  position: absolute;
  bottom: 0;
  top:10px;
  right:10px;
  height: 30px;
  background-color: white;
  color:black;
  font-size: 15px;
  padding-left:20px;
  padding-right:20px;
  border:2px solid #000000;
  z-index: 100;
}

.tick{
      font-size: 15px;
      font-weight:bold;
}

.c3-line {
  stroke-width: 7px;
}

.c3-arc{
  //fill: url(#crosshatch) #fff !important;
}
.c3-chart-arc path {
  stroke-width: 2;
  stroke:black;
}
/*-- Bar --*/
.c3-bar{
  stroke:black !important;
  stroke-width: 2;
  //fill: url(#crosshatch) #fff !important;
  //fill:transparent;
}
.c3-chart-arc text {
    font-size: 20px;
    background-color: black;
    fill:black;
    font-weight:bold;
}

.c3 path, .c3 line {
  stroke: #000;
  stroke-width: 3;
}

.c3-grid line {
 stroke: #000;
 stroke-width: 2;
}
line.c3-legend-item-tile{
   stroke-width: 20;
}
.c3-axis-y-label{

    font-size: 14px;
}
.c3-legend-item {
  font-size: 20px;
  display: inline-block;
  margin:0px;
  height:20px;
}

table{
  width:100%;
font-size: 15px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    font-size: 15px;
}
td, th {
  padding:5px;
  text-align: left;
}
th{
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  font-weight:bold;
  background-color:black;
  color:white;
}

.graph-legend svg{
}

.graph-legends{
  width: 100%;
  text-align: center;
  display: block !important;
  clear: both;
}

.graph-legend{
  display: inline-block;
  font-size: 17px;
}

.legend-line{
  width:40px;
  height:20px;
}
.treemap-node{
    border: 1px solid black;
}
.treemap-label{
    z-index: 100;
    background-color: #fff;
    font-family: 'MaisonNeue',monaco, Consolas, 'Lucida Console', monospace;
    display: inline-block !important;
    padding-top:2px;
  }
.section-treemap{
  height:500px;
  display:block;
  border: 2px solid black;
  width:100%;
  box-sizing :border-box;
}

.chapter-title{
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
}
.section-chapter{
    display: block;
}

.section-abstract{
}
