@font-face {
  font-family: SF-UI;
  src: url("../font/SF-UI-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: SF-UI-Heavy;
  src: url("../font/SF-UI-Display-Heavy.otf") format("opentype");
}
@font-face {
  font-family: MaisonNeue;
  src: url("../font/MaisonNeue-Mono.ttf") format("opentype");
}

.report-container{
  position:fixed;
  overflow:scroll;
  height:100%;
  width:512px;
}


/*REPORT SPECIFIC*/

/*WEBSITE SPECIFIC*/
#sidebar{
  padding-top: 40px;
}

.main-info{
  margin-bottom: 20px;
}

#sources{
  margin-top: 40px;
}

.search-container{
  position:fixed;
  width:100%;
  height:100%;
  overflow:auto;
  z-index:10;
  background-color:#f5f5f5;
  padding-bottom: 30px;
}

.c3 svg{
  overflow: visible !important;
  font-family: 'MaisonNeue',monaco, Consolas, 'Lucida Console', monospace;
}

#bulletin-container{
  z-index: 0;
  background-color: white;
/*  padding-top: 77px;*/
  padding-bottom: 70px;
  width:100%;
  margin-left:0px;
  margin-top:0px;
  overflow: hidden;
  line-height: 1.2;
  font-family: 'SF-UI',monaco, Consolas, 'Lucida Console', monospace;
}

span{
  display: inline-block;
}

.main-title{
  font-size: 81px;
  line-height: 1.1;
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  text-align:center;
  margin-bottom: 38px;
  display: block;
}

.main-report{
  font-family:  'MaisonNeue', monaco, Consolas, 'Lucida Console', monospace;
  margin-bottom: 38px;
  font-size: 23px;
  text-align: center;
  display: block;
}

.main-subtitle{
  font-size: 23px;
  padding-top:18px;
  padding-bottom:18px;
  margin-bottom: 46px;
  background-color: black;
  color:white;
  text-align: center;
  font-family:  'MaisonNeue', monaco, Consolas, 'Lucida Console', monospace;
  display: block;
}

.main-info{
  font-size: 30px;
  margin-bottom: 46px;
  display: block;
}


/*MARGINS*/
p, ul{
  -webkit-margin-before: 10px;
-webkit-margin-after: 10px;
}

.section{
  padding-top:40px;
  padding-bottom: 40px;
  /*min-width: 512px;*/
  width: 100%;
}

.section-quote{
  width: 90%;
  margin-top:40px;
  margin-bottom: 20px;
}

.footer-section{
    padding-top:40px;
    padding-bottom: 40px;

}
.quote-author{
  margin-top: 20px;
}

.quote-text{
}

.section-title{
}

.section-subtitle{
/*  margin-bottom: 10px;*/
}

.section-chapter{
    margin-top:40px;
    display: block;
}

.section-abstract{
    margin-top:40px;
}

.section-treemap{
  margin-top: 0px;
}

.section-graph{
  margin-top: 0px;
}

.section-graph-title{
  margin-top: 20px;
}
.section-graph-subtitle{
  margin-top: 20px;
}
.section-graph-subtitle{
  margin-top: 0px;
}

.section-graph-abstract{
  margin-top: 20px;
}

.graph-legend svg{
  margin-right: 5px;
}

.graph-legends{
  margin-top:20px;
}

.graph-legend{
  margin-right: 10px;
}

table{
  margin-top: 20px;
}
.section-keywords{
  margin-top: 40px;
}
/***********SECTION*************/

.section{
  border-bottom: 1px solid black;
  font-size: 22px;
  float: left;
}





.section-sources{
  display: block;
}

.source{
  display: block;
}

.section-quote{
  width: 90%;
}

.quote-author{
  font-size:22px;
  width: 100%;
  text-align: right;
}

.quote-text{
  line-height: 1.1;
  font-size:48px;
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  display: block;
}

.section-title{
  font-size: 40px;
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  font-weight: bold;
  display: block;
}

.section-subtitle{
  font-size: 40px;
}

.section-body{
}

.section-keywords{
  font-size: 20px;
  font-family: Courier, Helvetica, serif !important;
}

/*********GRAPH**************/

.section-treemap{
  display: block;
  font-family: 'MaisonNeue',monaco, Consolas, 'Lucida Console', monospace !important;
  font-size: 20px;
  width:100%;
  display: table;
}

.section-treemap div{
  display: inline;
  box-sizing: initial! important;
  -webkit-box-sizing: initial! important;
}

.section-graph{
  font-family: 'MaisonNeue',monaco, Consolas, 'Lucida Console', monospace !important;
  font-size: 20px;
  overflow: visible !important;
}

.section-graph g{
  overflow: hidden !important;
}

text{
  fill:#000000;
}
.c3{  font-size: 15px;
}

.section-treemap rect{
  stroke:rgb(0,0,0)!important;
}

.section-graph-title{
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  display: block;
}

.section-graph-subtitle{
  display: block;
}

.section-graph-abstract{
  display: block;
}

.rotated{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

#xml-select {
    position: absolute;
    top: 10px;
    width: 300px;
    font-size: 15px;
    height:30px;
    right: 120px;
    bottom: 0;
  z-index: 10;
  background-color: white;
  color: black;
   border-radius: 0 !important;
   border:1px solid white;
}

#editor {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 512px;
}



button{
  border: 1px solid black;
  background-color:transparent;
  font-family: SF-UI;
  padding:4px;
  padding-left: 16px;
  padding-right: 16px;

  font-size:14px;
  border-radius: 5px;
}
a{
  color:black;
}

.tick{
      font-size: 15px;
      font-weight:bold;
}

.c3-line {
  stroke-width: 7px;
}


/*-- Bar --*/
.c3-bar{
  stroke:black !important;
  stroke-width: 2;
  /*fill: url(#crosshatch) #fff !important;
  fill:transparent;*/
}
.c3-chart-arc text {
    font-size: 20px;
    background-color: black;
    fill:black;
    font-weight:bold;
}

.c3 path, .c3 line {
  stroke: #000;
  stroke-width: 3;
}

.c3-grid line {
 stroke: #000;
 stroke-width: 2;
}
line.c3-legend-item-tile{
   stroke-width: 20;
}
.c3-axis-y-label{

    font-size: 14px;
}
.c3-legend-item {
  font-size: 20px;
  display: inline-block;
  margin:0px;
  height:20px;
}

table{
  width:100%;
font-size: 15px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    font-size: 15px;
}
td, th {
  padding:5px;
  text-align: left;
}
th{
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
  font-weight:bold;
  background-color:black;
  color:white;
}

.graph-legend svg{
}

.graph-legends{
  width: 100%;
  text-align: center;
  display: block !important;
  clear: both;
}

.graph-legend{
  display: inline-block;
  font-size: 15px;
}

.legend-line{
  width:40px;
  height:20px;
}
.treemap-node{
    border: 2px solid black;
}
.treemap-label{
    z-index: 9;
    background-color: #fff;
    font-family: 'MaisonNeue',monaco, Consolas, 'Lucida Console', monospace;
    display: inline-block !important;
    padding-top:2px;
  }
.section-treemap{
  height:300px;
  display:block;
/*  border: 2px solid black;*/
  width:100%;
  padding-right: 2px;
/*  box-sizing :border-box;*/
}

.chapter-title{
  font-family:  'SF-UI-Heavy', monaco, Consolas, 'Lucida Console', monospace;
}
.section-chapter{
    display: block;
}

.section-abstract{
}

.loader-container {
  padding-top:20%;
  width:100%;
  position:fixed;
  left:0px;
  top:0px;
  height:100vh;
  margin: 0;
  background-color: black;
  z-index:10000;
  display: none;
}

.loader {
  display: table;
      margin: 0 auto;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #222222; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.area-element{

}

#bulletin-header{
  padding-top: 77px;
  width:512px;
  display: inline-block;
  background: white;
}

#bulletin-footer{
  background: white;
}





/*************************/






#bulletin-header{
  width:100% !important;
}
#bulletin-container{
  width: auto;
  margin: 0 auto !important;


}
.section{
  display:inline-block !important;
}


.tick{
      font-size: 12px;
      font-weight:bold;
}


.footer-section{


  font-size:14px;
}

.section-title{
  font-size: 25px;
}

.quote-author{
  font-size:18px;
}

.quote-text{
  line-height: 1.1;
  font-size:30px;
}

.block-div{
  display:inline!important;
}

.main-title{
/*  text-align: left;*/
 font-size: 40px;
/*  margin-bottom: 10px;*/

margin:0px;
margin-bottom:10px;

}
.main-subtitle{
  font-size: 12px!important;
padding:10px;

  margin:0px;
}
#bulletin-header{
  margin-top:10px;
  padding-top:0px;

}
.main-report{
  margin:0px;
  display:none;
    font-size: 15px;
/*      text-align: left;
      display: none;
*/
padding:0px;
}
.main-subtitle{
    font-size: 15px;
/*      text-align: left;*/
}
.main-info{
    font-size: 15px;
/*    text-align: left;*/
}

.section{

}

.section-subtitle{
  font-size: 20px;
}

.section-body{
}

.section-keywords{
  font-size: 15px;
}
.section-graph{
    font-size: 10px;
}

.section{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 15px;
  width: 100%;
}

.main-info{

}

body{
/*  width:100%;
  padding-left:10%;
  padding-right:10%;
*/
  background-color: #f5f5f5 !important;
}
body {
}
@media screen and (min-width: 1340px) {
    /*body {
        background-color: lightgreen;
    }*/
    .section{
    }
}
@media screen and (min-width: 1600px) {
    /*body {
        background-color: lightgreen;
    }*/
    .section{
    }
}



#bulletin-search{
  background-color: #f5f5f5;
  z-index: 10;
  padding-top:30px;
font-size:15px;
  overflow: auto;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 25px;
  border-top: 1px solid grey;
  text-align: center;;
}
h3{
    margin-top:0px;
      margin-bottom:5px;
      font-size: 15px !important;
      text-transform: uppercase;
      font-family:  'MaisonNeue', monaco, Consolas, 'Lucida Console', monospace !important;

}
.area{
  text-align: left;;
  width:200px;
  margin-top:10px;
  overflow: auto;
  margin-right:20px;
  font-size: 13px;
  display: inline-table;;
  margin: 0 auto;
    margin-bottom: 20px !important;
}
input{
  margin-right:10px !important;
  display: inline-block;
}

.area-element{
  padding-left: 15px;
   text-indent: -15px;
  float:left;
  width: 180px;
}


#bulletin-container{
  background-color: transparent;
}
